easydict
graphviz
gym
imageio
matplotlib
numpy
Pillow
scikit-image
scikit-learn
scipy
tensorboardX
torch
torchvision
tqdm
segmentation_models_pytorch
albumentations
opencv-python
imageio
albumentations